.container
  = link_to 'Main', questions_path
  %br
  %br
  %h1
    = @question['content']
  = link_to question_path(@question['id']),data: {:confirm => 'Are you sure?'}, :method => :delete do
    %i.fa.fa-trash
  = link_to edit_question_path(@question['id']) do
    %i.fa.fa-edit
  .answers
    = link_to 'new answer', new_answer_path(@question['id'])
    %br
    - @question['answers'].each do |answer|
      %br
      %br
      %h2
        = answer['content']
      = link_to answer_path(answer['id']),data: {:confirm => 'Are you sure?'}, :method => :delete do
        %i.fa.fa-trash
      = link_to edit_answer_path(answer['id']) do
        %i.fa.fa-edit